* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(201, 203, 163);
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5vh;
}

ul {
  list-style-type: none;
}

*:focus {
  border-radius: 8px;
  box-shadow: 0 0 4px 5px rgba(0, 0, 0, 0.3);
  /* outline-style: dotted; */
}

header h2 {
  padding: 10px 20px;
}

.big-div {
  width: 80%;
  background-color: rgba(255, 255, 168, 0.8);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.big-div h1 {
  font-size: 2rem;
  margin: 20px 0;
  color: rgb(71, 45, 48)
}

.big-div h2 {
  padding: 10px 0;
}

.element-title {
  margin-bottom: 20px;
}

.answer {
  width: 100%
}

.button, .answer {
  margin: 10px 0;
  padding: 12px 18px;
  background-color: rgb(114, 61, 70);
  border: none;
  border-radius: 8px;
  color: #ffff;
  font-size: 20px;
}

.answer:active {
  border: none;
}

#welcome p {
  line-height: 1.5;
  font-size: 24px;
  margin: 10px 0;
}

#score-form {
  display: flex;
  margin: 10px 0;
  width: 100%;
  max-width: 500px;
  height: 5vh;
  gap: 5px;
}

#name-input {
  display: flex;
  border-radius: 8px;
  flex: 1;
  text-align: center;
}

#score-submit-button {
  flex: 0.5;
  border-radius: 8px;
}
